.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: var(--bs-font-sans-serif);;
  margin: 0;
  padding: 0;
  background-color: #79a0c7;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h2, h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  color: rgb(255, 255, 255);
}

form, .cita {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 480px; 
  margin: 0 auto; 
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"], input[type="date"], input[type="time"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

textarea {
  resize: vertical;
  height: 70px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 6px 10px;
}

button:hover {
  background-color: #0056b3;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.one-half {
  width: 50%;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .one-half {
      width: 100%;
      padding: 0;
  }
}

.item {
  margin-bottom: 10px;
}
